<?xml version="1.0" encoding="UTF-8"?>
<!-- (c) Copyright 2017 Mark V Systems Limited, All rights reserved. -->
<DisclosureSystems  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
      xsi:noNamespaceSchemaLocation="../../../config/disclosuresystems.xsd" >
  <!-- see ../config/disclosuresystem.xml for full comments -->
   
  <DisclosureSystem 
     names="US SEC (Edgar Filing Manual, Strict)|efm|efm-strict"
     description="US SEC Edgar Filing Manual v67 Release 23.3\n
     Default language en-US (en allowed in some cases per EFM)\n
     CIK identifier patterns\n
     Disallowed references are blocked and not loaded (same as SEC production system)\n
     Includes content (semantic) tests"
     validationType="EFM"
     exclusiveTypesPattern="EFM|GFM|HMRC|SBR.NL|FERC"
     blockDisallowedReferences="true" 
     defaultXmlLang="en-US" 
     defaultLanguage="English" 
     standardTaxonomiesUrl="resources/edgartaxonomies/edgartaxonomies-23-3.xml"
     utrUrl="http://www.xbrl.org/utr/2022-02-16/utr.xml"
     validateFileText="true"
     validateEntryText="true"
     allowedExternalHrefPattern="https?://www.sec.gov/(ix[?]doc=/)?Archives/edgar/data/"
	 allowedImageTypes = '{
	    "data-scheme": false,
	    "img-file-extensions": ["gif", "jpg"],
	    "mime-types": []
	    }'
     identifierSchemePattern="^http://www\.sec\.gov/CIK$"
     identifierValuePattern="^[0-9]{10}$" 
     identifierValueName="CIK" 
     contextElement="segment" 
     roleDefinitionPattern="^[0-9]+ - (Statement|Disclosure|Schedule|Document) - [^\n]*\S$"
     labelCheckPattern="[ \n\r\t]{2,}|&lt;|&amp;lt;|&amp;#60;|&amp;#x3C"
     labelTrimPattern="[ \n\r\t]"
     deiNamespacePattern="^http://xbrl\.us/dei/|^http://xbrl\.sec\.gov/dei"
     deiAmendmentFlagElement="AmendmentFlag"
     deiCurrentFiscalYearEndDateElement="CurrentFiscalYearEndDate"
     deiDocumentFiscalYearFocusElement="DocumentFiscalYearFocus"
     deiDocumentPeriodEndDateElement="DocumentPeriodEndDate"
     deiFilerIdentifierElement="EntityCentralIndexKey" 
     deiFilerNameElement="EntityRegistrantName"
     />
  <DisclosureSystem 
     names="US SEC (Edgar Filing Manual, Pragmatic)|efm-blocking|efm-pragmatic"
     description="US SEC Edgar Filing Manual v67 Release 23.3\n
     Default language en-US (en allowed in some cases per EFM)\n
     CIK identifier patterns\n
     Allowed references http://www.sec.gov/info/edgar/edgartaxonomies.shtml\n
     Disallowed references are blocked and not loaded (same as SEC production system)\n
     No content (semantic) tests are reported"
     validationType="EFM"
     exclusiveTypesPattern="EFM|GFM|HMRC|SBR.NL|FERC"
     blockDisallowedReferences="true" 
     defaultXmlLang="en-US" 
     defaultLanguage="English" 
     standardTaxonomiesUrl="resources/edgartaxonomies/edgartaxonomies-23-3.xml"
     utrUrl="http://www.xbrl.org/utr/2022-02-16/utr.xml"
     validateFileText="true"
     validateEntryText="true"
     allowedExternalHrefPattern="https?://www.sec.gov/(ix[?]doc=/)?Archives/edgar/data/"
	 allowedImageTypes = '{
	    "data-scheme": false,
	    "img-file-extensions": ["gif", "jpg"],
	    "mime-types": []
	    }'
     identifierSchemePattern="^http://www\.sec\.gov/CIK$"
     identifierValuePattern="^[0-9]{10}$" 
     identifierValueName="CIK" 
     contextElement="segment" 
     roleDefinitionPattern="^[0-9]+ - (Statement|Disclosure|Schedule|Document) - [^\n]*\S$"
     labelCheckPattern="[ \n\r\t]{2,}|&lt;|&amp;lt;|&amp;#60;|&amp;#x3C"
     labelTrimPattern="[ \n\r\t]"
     deiNamespacePattern="^http://xbrl\.us/dei/|^http://xbrl\.sec\.gov/dei"
     deiAmendmentFlagElement="AmendmentFlag"
     deiCurrentFiscalYearEndDateElement="CurrentFiscalYearEndDate"
     deiDocumentFiscalYearFocusElement="DocumentFiscalYearFocus"
     deiDocumentPeriodEndDateElement="DocumentPeriodEndDate"
     deiFilerIdentifierElement="EntityCentralIndexKey" 
     deiFilerNameElement="EntityRegistrantName"
     logLevelFilter="(?!.*-semantic$)"
     logCodeFilter="(?!EFM.6.05.28.linkrole|EFM.6.07.06|EFM.6.10.01.missingLabelLinkbase)"
     standardTaxonomyDatabase="efmStandardTaxonomies.db"
     standardTaxonomyUrlPattern="http://www.fasb.org|http://xbrl.sec.gov|http://www.xbrl.org|http://taxonomies.xbrl.us|http://xbrl.us/us-gaap|http://xbrl.ici.org/rr|http://xbrl.ifrs.org/taxonomy"
     />
  <DisclosureSystem 
     names="US SEC 2021 Preview with DQCRT applied to us-gaap 2020-2021 (EFM Pragmatic)|efm-preview-dqcrt-testing"
     description="US SEC Edgar Filing Manual v67 Release 23.3\n
     DQCRT/2021 applied to us-gaap/2020 for testing purposes\n
     Default language en-US (en allowed in some cases per EFM)\n
     CIK identifier patterns\n
     Allowed references http://www.sec.gov/info/edgar/edgartaxonomies.shtml\n
     Disallowed references are blocked and not loaded (same as SEC production system)\n
     No content (semantic) tests are reported"
     validationType="EFM"
     options="dqcrt-2021-usgaap-2020"
     exclusiveTypesPattern="EFM|GFM|HMRC|SBR.NL|FERC"
     blockDisallowedReferences="true" 
     defaultXmlLang="en-US" 
     defaultLanguage="English" 
     standardTaxonomiesUrl="resources/edgartaxonomies/edgartaxonomies-all-years.xml"
     utrUrl="http://www.xbrl.org/utr/2022-02-16/utr.xml"
     validateFileText="true"
     validateEntryText="true"
     allowedExternalHrefPattern="https?://www.sec.gov/(ix[?]doc=/)?Archives/edgar/data/"
	 allowedImageTypes = '{
	    "data-scheme": false,
	    "img-file-extensions": ["gif", "jpg"],
	    "mime-types": []
	    }'
     identifierSchemePattern="^http://www\.sec\.gov/CIK$"
     identifierValuePattern="^[0-9]{10}$" 
     identifierValueName="CIK" 
     contextElement="segment" 
     roleDefinitionPattern="^[0-9]+ - (Statement|Disclosure|Schedule|Document) - [^\n]*\S$"
     labelCheckPattern="[ \n\r\t]{2,}|&lt;|&amp;lt;|&amp;#60;|&amp;#x3C"
     labelTrimPattern="[ \n\r\t]"
     deiNamespacePattern="^http://xbrl\.us/dei/|^http://xbrl\.sec\.gov/dei"
     deiAmendmentFlagElement="AmendmentFlag"
     deiCurrentFiscalYearEndDateElement="CurrentFiscalYearEndDate"
     deiDocumentFiscalYearFocusElement="DocumentFiscalYearFocus"
     deiDocumentPeriodEndDateElement="DocumentPeriodEndDate"
     deiFilerIdentifierElement="EntityCentralIndexKey" 
     deiFilerNameElement="EntityRegistrantName"
     logLevelFilter="(?!.*-semantic$)"
     logCodeFilter="(?!EFM.6.05.28.linkrole|EFM.6.07.06|EFM.6.10.01.missingLabelLinkbase)"
     standardTaxonomyDatabase="efmStandardTaxonomies.db"
     standardTaxonomyUrlPattern="http://www.fasb.org|http://xbrl.sec.gov|http://www.xbrl.org|http://taxonomies.xbrl.us|http://xbrl.us/us-gaap|http://xbrl.ici.org/rr|http://xbrl.ifrs.org/taxonomy"
     />
   <DisclosureSystem 
      names="US SEC (Edgar Filing Manual, Liberal, All Years)|efm-nonblocking|efm-liberal"
      description="US SEC Edgar Filing Manual, all years\n
      Default language en-US (en allowed in some cases per EFM)\n
      CIK identifier patterns\n
      Allowed references http://www.sec.gov/info/edgar/edgartaxonomies.shtml\n
      Disallowed references are processed\n
      No content (semantic) tests are reported"
      validationType="EFM"
      exclusiveTypesPattern="EFM|GFM|HMRC|SBR.NL|FERC"
      blockDisallowedReferences="false" 
      defaultXmlLang="en-US" 
      defaultLanguage="English" 
      standardTaxonomiesUrl="resources/edgartaxonomies/edgartaxonomies-all-years.xml"
      utrUrl="http://www.xbrl.org/utr/2022-02-16/utr.xml"
      validateFileText="true"
      validateEntryText="true"
      allowedExternalHrefPattern="https?://www.sec.gov/(ix[?]doc=/)?Archives/edgar/data/"
	  allowedImageTypes = '{
	    "data-scheme": false,
	    "img-file-extensions": ["gif", "jpg"],
	    "mime-types": []
	    }'
      identifierSchemePattern="^http://www\.sec\.gov/CIK$"
      identifierValuePattern="^[0-9]{10}$" 
      identifierValueName="CIK" 
      contextElement="segment" 
      roleDefinitionPattern="^[0-9]+ - (Statement|Disclosure|Schedule|Document) - [^\n]*\S$"
      labelCheckPattern="[ \n\r\t]{2,}|&lt;|&amp;lt;|&amp;#60;|&amp;#x3C"
      labelTrimPattern="[ \n\r\t]"
      deiNamespacePattern="^http://xbrl\.us/dei/|^http://xbrl\.sec\.gov/dei"
      deiAmendmentFlagElement="AmendmentFlag"
      deiCurrentFiscalYearEndDateElement="CurrentFiscalYearEndDate"
      deiDocumentFiscalYearFocusElement="DocumentFiscalYearFocus"
      deiDocumentPeriodEndDateElement="DocumentPeriodEndDate"
      deiFilerIdentifierElement="EntityCentralIndexKey" 
      deiFilerNameElement="EntityRegistrantName"
      logLevelFilter="(?!.*-semantic$)"
      logCodeFilter="(?!EFM.6.03.03.matchInstance|EFM.6.05.28.linkrole|EFM.6.07.06|EFM.6.10.01.missingLabelLinkbase)"
   />
  <DisclosureSystem 
     names="US SEC (Edgar Filing Manual, Strict, all years)|efm-all-years|efm-strict-all-years"
     description="US SEC Edgar Filing Manual, 2014\n
     Default language en-US (en allowed in some cases per EFM)\n
     CIK identifier patterns\n
     Allowed references http://www.sec.gov/info/edgar/edgartaxonomies.shtml\n
     Disallowed references are processed\n
     Includes content (semantic) tests"
     validationType="EFM"
     exclusiveTypesPattern="EFM|GFM|HMRC|SBR.NL|FERC"
     blockDisallowedReferences="false" 
     defaultXmlLang="en-US" 
     defaultLanguage="English" 
     standardTaxonomiesUrl="resources/edgartaxonomies/edgartaxonomies-all-years.xml"
     utrUrl="http://www.xbrl.org/utr/2022-02-16/utr.xml"
     validateFileText="true"
     validateEntryText="true"
     allowedExternalHrefPattern="https?://www.sec.gov/(ix[?]doc=/)?Archives/edgar/data/"
	 allowedImageTypes = '{
	    "data-scheme": false,
	    "img-file-extensions": ["gif", "jpg"],
	    "mime-types": []
	    }'
     identifierSchemePattern="^http://www\.sec\.gov/CIK$"
     identifierValuePattern="^[0-9]{10}$" 
     identifierValueName="CIK" 
     contextElement="segment" 
     roleDefinitionPattern="^[0-9]+ - (Statement|Disclosure|Schedule|Document) - [^\n]*\S$"
     labelCheckPattern="[ \n\r\t]{2,}|&lt;|&amp;lt;*&amp;#60;|&amp;#x3C"
     labelTrimPattern="[ \n\r\t]"
     deiNamespacePattern="^http://xbrl\.us/dei/|^http://xbrl\.sec\.gov/dei"
     deiAmendmentFlagElement="AmendmentFlag"
     deiCurrentFiscalYearEndDateElement="CurrentFiscalYearEndDate"
     deiDocumentFiscalYearFocusElement="DocumentFiscalYearFocus"
     deiDocumentPeriodEndDateElement="DocumentPeriodEndDate"
     deiFilerIdentifierElement="EntityCentralIndexKey" 
     deiFilerNameElement="EntityRegistrantName"
     standardTaxonomyDatabase="efmStandardTaxonomies.db"
     standardTaxonomyUrlPattern="http://www.fasb.org|http://xbrl.sec.gov|http://www.xbrl.org|http://taxonomies.xbrl.us|http://xbrl.us/us-gaap|http://xbrl.ici.org/rr|http://xbrl.ifrs.org/taxonomy"
     />
  <DisclosureSystem 
     names="US SEC (Edgar Filing Manual, Pragmatic, all years)|efm-blocking-all-years|efm-pragmatic-all-years"
     description="US SEC Edgar Filing Manual, 2014\n
     Default language en-US (en allowed in some cases per EFM)\n
     CIK identifier patterns\n
     Allowed references http://www.sec.gov/info/edgar/edgartaxonomies.shtml\n
     Disallowed references are blocked and not loaded (same as SEC production system)\n
     No content (semantic) tests are reported"
     validationType="EFM"
     exclusiveTypesPattern="EFM|GFM|HMRC|SBR.NL|FERC"
     blockDisallowedReferences="true" 
     defaultXmlLang="en-US" 
     defaultLanguage="English" 
     standardTaxonomiesUrl="resources/edgartaxonomies/edgartaxonomies-all-years.xml"
     utrUrl="http://www.xbrl.org/utr/2022-02-16/utr.xml"
     validateFileText="true"
     validateEntryText="true"
     allowedExternalHrefPattern="https?://www.sec.gov/(ix[?]doc=/)?Archives/edgar/data/"
	 allowedImageTypes = '{
	    "data-scheme": false,
	    "img-file-extensions": ["gif", "jpg"],
	    "mime-types": []
	    }'
     identifierSchemePattern="^http://www\.sec\.gov/CIK$"
     identifierValuePattern="^[0-9]{10}$" 
     identifierValueName="CIK" 
     contextElement="segment" 
     roleDefinitionPattern="^[0-9]+ - (Statement|Disclosure|Schedule|Document) - [^\n]*\S$"
     labelCheckPattern="[ \n\r\t]{2,}|&lt;|&amp;lt;|&amp;#60;|&amp;#x3C"
     labelTrimPattern="[ \n\r\t]"
     deiNamespacePattern="^http://xbrl\.us/dei/|^http://xbrl\.sec\.gov/dei"
     deiAmendmentFlagElement="AmendmentFlag"
     deiCurrentFiscalYearEndDateElement="CurrentFiscalYearEndDate"
     deiDocumentFiscalYearFocusElement="DocumentFiscalYearFocus"
     deiDocumentPeriodEndDateElement="DocumentPeriodEndDate"
     deiFilerIdentifierElement="EntityCentralIndexKey" 
     deiFilerNameElement="EntityRegistrantName"
     logLevelFilter="(?!.*-semantic$)"
     logCodeFilter="(?!EFM.6.05.28.linkrole|EFM.6.07.06|EFM.6.10.01.missingLabelLinkbase)"
     standardTaxonomyDatabase="efmStandardTaxonomies.db"
     standardTaxonomyUrlPattern="http://www.fasb.org|http://xbrl.sec.gov|http://www.xbrl.org|http://taxonomies.xbrl.us|http://xbrl.us/us-gaap|http://xbrl.ici.org/rr|http://xbrl.ifrs.org/taxonomy"
     />
  <DisclosureSystem 
     names="US SEC extended with IFRS (Edgar Filing Manual, Pragmatic, all years)|efm-extended-pragmatic-all-years"
     description="US SEC Edgar Filing Manual, All years\n
     Default language en-US (en allowed in some cases per EFM)\n
     CIK identifier patterns\n
     Allowed references http://www.sec.gov/info/edgar/edgartaxonomies.shtml\n
     Disallowed references are blocked and not loaded (same as SEC production system)\n
     No content (semantic) tests are reported"
     validationType="EFM"
     exclusiveTypesPattern="EFM|GFM|HMRC|SBR.NL|FERC"
     blockDisallowedReferences="true" 
     defaultXmlLang="en-US" 
     defaultLanguage="English" 
     standardTaxonomiesUrl="resources/edgartaxonomies/extendedtaxonomies-all-years.xml"
     utrUrl="http://www.xbrl.org/utr/2022-02-16/utr.xml"
     validateFileText="true"
     validateEntryText="true"
     allowedExternalHrefPattern="https?://www.sec.gov/(ix[?]doc=/)?Archives/edgar/data/"
	 allowedImageTypes = '{
	    "data-scheme": false,
	    "img-file-extensions": ["gif", "jpg"],
	    "mime-types": []
	    }'
     identifierSchemePattern="^http://www\.sec\.gov/CIK$"
     identifierValuePattern="^[0-9]{10}$" 
     identifierValueName="CIK" 
     contextElement="segment" 
     roleDefinitionPattern="^[0-9]+ - (Statement|Disclosure|Schedule|Document) - [^\n]*\S$"
     labelCheckPattern="[ \n\r\t]{2,}|&lt;|&amp;lt;|&amp;#60;|&amp;#x3C"
     labelTrimPattern="[ \n\r\t]"
     deiNamespacePattern="^http://xbrl\.us/dei/|^http://xbrl\.sec\.gov/dei"
     deiAmendmentFlagElement="AmendmentFlag"
     deiCurrentFiscalYearEndDateElement="CurrentFiscalYearEndDate"
     deiDocumentFiscalYearFocusElement="DocumentFiscalYearFocus"
     deiDocumentPeriodEndDateElement="DocumentPeriodEndDate"
     deiFilerIdentifierElement="EntityCentralIndexKey" 
     deiFilerNameElement="EntityRegistrantName"
     logLevelFilter="(?!.*-semantic$)"
     logCodeFilter="(?!EFM.6.05.28.linkrole|EFM.6.07.06|EFM.6.10.01.missingLabelLinkbase)"
     standardTaxonomyDatabase="efmStandardTaxonomies.db"
     standardTaxonomyUrlPattern="http://www.fasb.org|http://xbrl.sec.gov|http://www.xbrl.org|http://taxonomies.xbrl.us|http://xbrl.us/us-gaap|http://xbrl.ici.org/rr|http://xbrl.ifrs.org/taxonomy"
     />
  <DisclosureSystem 
     names="US SEC (Global Filing Manual)|us-gfm|gfm-us" 
     description="US SEC interpretation of Global Filing Manual\n
     Default language en\n
     CIK identifier patterns\n
     Allowed references http://www.sec.gov/info/edgar/edgartaxonomies.shtml\n
     Disallowed references are processed"
     validationType="GFM"
     exclusiveTypesPattern="EFM|GFM|HMRC|SBR.NL|FERC"
     defaultXmlLang="en"
     defaultLanguage="English" 
     standardTaxonomiesUrl="resources/edgartaxonomies/edgartaxonomies-17-3-1.xml"
     utrUrl="http://www.xbrl.org/utr/2013-05-17/utr.xml"
     validateFileText="true"
     validateEntryText="true"
     allowedExternalHrefPattern="https?://www.sec.gov/(ix[?]doc=/)?Archives/edgar/data/"
	 allowedImageTypes = '{
	    "data-scheme": false,
	    "img-file-extensions": ["gif", "jpg"],
	    "mime-types": []
	    }'
     identifierSchemePattern="^http://www\.sec\.gov/CIK$"
     identifierValuePattern="^[0-9]{10}$" 
     identifierValueName="CIK" 
     contextElement="segment" 
     roleDefinitionPattern="^\S[^\n]* - [^\n]*\S$"
     labelCheckPattern="\s{2,}|&lt;"
     labelTrimPattern="\s"
     deiNamespacePattern="^http://xbrl\.us/dei/|^http://xbrl\.sec\.gov/dei"
     deiAmendmentFlagElement="AmendmentFlag"
     deiCurrentFiscalYearEndDateElement="CurrentFiscalYearEndDate"
     deiDocumentFiscalYearFocusElement="DocumentFiscalYearFocus"
     deiDocumentPeriodEndDateElement="DocumentPeriodEndDate"
     deiFilerIdentifierElement="FilerIdentifier" 
     deiFilerNameElement="EntityRegistrantName"
     standardTaxonomyDatabase="efmStandardTaxonomies.db"
     standardTaxonomyUrlPattern="http://www.fasb.org|http://xbrl.sec.gov|http://www.xbrl.org|http://taxonomies.xbrl.us|http://xbrl.us/us-gaap|http://xbrl.ici.org/rr|http://xbrl.ifrs.org/taxonomy"
     />

</DisclosureSystems>
