/* Created by staff of the U.S. Securities and Exchange Commission.
 * Data and content created by government employees within the scope of their employment 
 * are not subject to domestic copyright protection. 17 U.S.C. 105.
 * */

/* #dynamic-xbrl-form * {
	box-sizing: initial;
	line-height: initial;
} */
a::active {
	background-color: pink;
}

kbd {
	background-color: inherit;
	color: inherit;
	padding: inherit;
	font-size: inherit;
	border-radius: inherit;
}

.space-between {
	display: flex;
	justify-content: space-between;
}
.sidebar {
	padding: 5px 15px;
}
.bg-inherit {
	background-color: inherit;
}

.list-group-item-action:active {
	color: #212529;
}

#dynamic-xbrl-form .text-block-indicator-left {
	left: 0;
	width: 5px;
	border-top: .5rem solid transparent;
	border-left: .75rem solid #003768;
	border-bottom: .5rem solid transparent;
}

#dynamic-xbrl-form .text-block-indicator-right {
	right: 0;
	width: 5px;
	border-top: .5rem solid transparent;
	border-right: .75rem solid #003768;
	border-bottom: .5rem solid transparent;
}

.navbar-dark .navbar-nav .nav-link {
	color: #FFF;
}

.accordion-item:not(last) .accordion-header > h5 > .btn:not(.collapsed) {
	border-bottom: 1px solid rgba(0,0,0,.08);
}

.btn-outline-light.disabled {
	color: #ff8300;
}
.accordion-header .btn:focus {
	box-shadow: inset 0px 0 0 2px rgba(13, 110, 253, .15);
	border-width: 0;
    border-radius: 0;
}
.accordion-header {
	background-color: #f1f1f1;
}
.no-trans {
	transition: none;
}

.navbar-dark .navbar-nav .nav-link.disabled {
	color: #ff8300;
}

#dynamic-xbrl-form [hover-taxonomy="true"] {
	cursor: pointer;
}
.ix-disabled, .ix-disabled:hover {
	cursor: pointer;
    text-decoration: none;
    color: inherit; 
}

#dynamic-xbrl-form [inside-table="true"] {
	display: table-cell !important;
	text-indent: initial;	
}

tr {
	border-color: #dcdcdc;
}
#dynamic-xbrl-form [redline="true"] {
	color: #FF0099;
	text-decoration: underline;
}

#sections-menu [selected-taxonomy="true"] {
	border: 2px solid #6689a8;
}

#taxonomies-menu-list-pagination [selected-taxonomy="true"] {
	border: 2px solid #6689a8 !important;
}

#dynamic-xbrl-form .text-block-taxonomy-hover {
	background-color: rgba(249, 237, 237);
	cursor: pointer;
}

#dynamic-xbrl-form .nested-continued-taxonomy {
	background-color: white !important;
}

#dynamic-xbrl-form .continued-taxonomy {
	background-color: rgba(249, 237, 237);
	cursor: pointer;
}

#dynamic-xbrl-form .continued-taxonomy>* {
	background-color: rgba(249, 237, 237);
	cursor: pointer;
}

#dynamic-xbrl-form [contextref]:hover {
	cursor: pointer;
}

#dynamic-xbrl-form {
	height: 100%;
	overflow: auto;
	padding: 0 15px !important;
}

#back-to-top {
	position: fixed;
	bottom: 1.25rem;
	right: 1.25rem;
	z-index: 100;
}

.word-break {
	word-break: break-all;
}

.font-size-1 {
	font-size: 1rem;
}

.navbar-height {
	height: 45px;
}

.alert-height {
	height: 45px;
	padding: 0.7rem 1.5rem;
}

.float-right {
	float: right;
}

.dropdown-menu-width {
	width: 20rem;
}
.main-menu {
	width: 200px;
}

.blank-table-row {
	background-color: #FFF;
	height: 2rem;
}

.click {
	cursor: pointer;
}

.height-200 {
	max-height: 200px;
}

.overflow-x-auto {
	overflow-x: auto;
}

.overflow-y-auto {
	overflow-y: auto;
}

.main-container {
	height: calc(100vh - 45px);
	margin-top: 45px;
	padding: 0;
}

body {
	overflow: hidden;
}

.carousel-indicators li {
	border: 1px solid #003768;
}

.carousel-indicators .active {
	background-color: #003768;
}

.collapse-modal-partial {
	height: 30px;
	max-width: 24vw;
	width: 24vw;
	overflow: hidden;
	display: block;
	margin-right: -1rem;
	width: 24vw;
}

.collapse-modal-partial.show {
	height: 100%;
	width: 100%;
	max-width: 100%;
	overflow: auto;
}

.color-inherit {
	color: inherit;
}

.d-inherit {
	display: inherit;
}

.b-0 {
	bottom: 0;
}

.p-initial {
	position: initial !important;
}

.dropdown-toggle::after {
	display: none;
}

.sec-primary {
	color: #003768;
}
.bg-sec {
	background-color: #003768;
}

.btn-sec {
	background-color: #003768;
	color: #FFF;
	background-image: none;
	border-color: #003768;
}

.btn-sec:hover {
	color: #003768;
	background-color: #FFF;
	border-color: #003768;
}

.left-sidenav {
	height: calc(100vh - 45px);
	position: fixed;
	z-index: 1;
	top: 45px;
	bottom: 0;
	left: -100%;
	transition: 0.25s;
}

.right-sidenav {
	height: calc(100vh - 45px);
	position: fixed;
	z-index: 1;
	top: 45px;
	bottom: 0;
	right: -100%;
	transition: 0.25s;
}

.btn-link {
	color: #003768;
}

#settings-modal {
	top: 55px !important;
	height: calc(100vh - 55px) !important;
}

.expand-modal {
	top: 55px !important;
	left: 0px !important;
	right: 0px !important;
	bottom: 0px !important;
	width: 100% !important;
	height: calc(100vh - 55px) !important;
}

.dialog-box {
	top: 55px;
	left: 5%;
	width: 90%;
	height: calc(100vh - 55px);
	background-color: white;
	z-index: 100;
	color: #666;
	border: 2px solid #003768;
	border-radius: .3rem;
}

@media ( min-width : 576px) {
	.dialog-box {
		top: 25%;
		left: 35vw;
		width: 30vw;
		height: 50vh;
		background-color: white;
		z-index: 9999;
		color: #666;
		border: 2px solid #003768;
		border-radius: .3rem;
	}
}

.drag-icon {
	cursor: move;
}

.dialog-header-actions {
	cursor: auto;
}

.dialog-content {
	position: absolute;
	top: 46px;
	right: 0;
	bottom: 39px;
	left: 0;
	overflow: auto;
	padding: 1rem;
}

.dialog-footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #eee;
	border-top: 1px solid #ccc;
}

.dialog-box .dialog-action .btn {
	text-decoration: none;
	border: none;
	outline: none;
	color: inherit;
	font-weight: bold;
	background-color: white;
	border: 1px solid #ccc;
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
	padding: .4em 1em;
	margin-left: .2em;
	line-height: 2em;
	cursor: pointer;
}

.dialog-box .dialog-close, .dialog-box .dialog-minmax {
	border: none;
	outline: none;
	background: none;
	line-height: 1.4em;
	color: #aaa;
	text-decoration: none;
	position: absolute;
	top: 0;
	right: .3em;
	text-align: center;
	cursor: pointer;
}

.dialog-box .dialog-minmax {
	right: 1.5em
}

.dialog-box.fixed-dialog-box {
	position: fixed;
}

.dialog-box.minimize .dialog-title {
	color: transparent;
	text-shadow: none;
	text-indent: -9999px;
}

.text-popover-clamp-1 {
	line-height: 1.4em;
	max-height: 1.4em;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 1;
}

.text-popover-clamp-2 {
	line-height: 1.4em;
	max-height: 2.8em;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 2;
}

.no-hover:hover {
	cursor: initial;
}

.z-index-max {
	z-index: 2147483647;
}