/* icon-as-img as png 
 * The below images are from glyphicons.com
 * No fonts can be used with this server configuration
*/

/* Created by staff of the U.S. Securities and Exchange Commission.
 * Data and content created by government employees within the scope of their employment 
 * are not subject to domestic copyright protection. 17 U.S.C. 105.
 * */

   
.icon-as-img {
	position: relative;
    display: inline-block;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-close {
	background-image: url('../images/font-images/close-white.png');
	background-size: 14px 14px;
}

.icon-close-circle-white {
	background-image: url('../images/font-images/remove-circle-white.png');
	background-size: 14px 14px;
	top: 4px;
	margin-right: 3px;
}

.icon-menu {
	background-image: url('../images/font-images/menu-white.png');
	background-size: 14px 14px;
	margin-right: 4px;
	top: 3px;
}

.icon-expand-more {
	background-image: url('../images/font-images/down-white.png');
    background-size: 15px 10px;
    top: 3px;
}

.icon-expand-more-black {
	background-image: url('../images/font-images/down-black.png');
    background-size: 15px 10px;
    top: 6px;
}

.icon-expand-less {
	background-repeat: no-repeat;
	background-image: url('../images/font-images/right-white.png');
	background-size: 10px 15px;
    top: 3px;
}

.icon-expand-less-black {
	background-image: url('../images/font-images/right-black.png');
	background-size: 10px 15px;
    left: 2px;
    top: 4px;
}

.icon-data {
	background-image: url('../images/font-images/data-white.png');
	background-size: 15px 15px;
	top: 3px;
}

.icon-tag {
	background-image: url('../images/font-images/tags-white.png');
	background-size: 15px 15px;
	top: 3px;
}

.icon-filter {
	background-repeat: no-repeat;
	background-image: url('../images/font-images/filter-white.png');	
	background-size: 15px 15px;
	top: 3px;
}

.icon-search-black {
	background-image: url('../images/font-images/search-black.png');
	background-size: 14px 14px;
	margin-left: -3px;
	margin-top: 3px;
}

.icon-first-black {
	background-image: url('../images/font-images/first-black.png');
	background-size: 12px 12px;
    top: 4px;
}

.icon-last-black {
	background-image: url('../images/font-images/last-black.png');
	background-size: 12px 12px;
    top: 4px;
}

.icon-previous-black {
	background-image: url('../images/font-images/previous-black.png');
	background-size: 12px 12px;
    top: 4px;
}

.icon-next-black {
	background-image: url('../images/font-images/next-black.png');
	background-size: 12px 12px;
    top: 4px;
}

.icon-copy {
	background-image: url('../images/font-images/copy-white.png');
	background-size: 14px 14px;
}

.icon-left-blue {
	background-image: url('../images/font-images/left-blue.png');
    background-size: 12px 16px;
    top: -2px;
}

.icon-right-blue {
	background-image: url('../images/font-images/right-blue.png');
	background-size: 12px 16px;
    top: -2px;
}

.icon-plus-black {
	background-image: url('../images/font-images/plus-black.png');
	background-size: 15px 15px;
    top: 3px;
    margin-right: 3px;
}

.icon-minus-black {
	background-image: url('../images/font-images/minus-black.png');
    background-size: 16px 4px;
    top: 3px;
    margin-right: 3px;
    background-position: center;
}
