/* Created by staff of the U.S. Securities and Exchange Commission.
 * Data and content created by government employees within the scope of their employment 
 * are not subject to domestic copyright protection. 17 U.S.C. 105.
 * */
.rightNavigation {
	/*margin:0px 20px 0px 20px;*/
	background-color:#FFFFFF;
	width:94%;
	border:2px solid #003768;
	float:left;	
}

.rightNavTop {
	height:12px;
	width:100%;
	/*background-image:url(/ixviewer/images/leftNavTop.gif);*/
	float:left;
	_font-size:1px;
}


.rightNavBottom {
	height:30px;
	width:100%;
	/*background-image:url(/ixviewer/images/leftNavBottom.gif);*/
	float:left;
	_font-size:1px;
}

.rightNavLinks {
	border:2px solid #7B7B7B;
	box-shadow: 5px 5px 5px #888888;
	float:left;
	margin:5px auto 5px auto;
	_margin:5px auto 5px auto;
	/*width:96%;*/	
	font-family:arial, tahoma;
	font-size:12px;
	font-weight:bold;
	color:#333;
	background-color: #FFF;
	cursor:pointer;
	/*text-align: center;*/
	padding: 2px 2px 2px 10px;
}

.rightNavLinks a {	
	font-family:arial, tahoma;
	font-size:12px;
	font-weight:normal;
	color:#705842;
	text-decoration:none;
}

.rightNavLinks a:hover {
	color:#705842;
	text-decoration:underline;
}

.rightNavLinks ul {
	margin:0px;
	padding:5px 3px 3px 15px;
}

.rightNavLinks li {
	padding:2px 0px 2px 0px;
}


.rightNavLinksSeprator {
	height:11px;
	width:344px;
	/*background-image:url(/ixviewer/images/leftNavLinksSeprator.gif);*/
	float:left;
	_font-size:1px;
}